{% extends "base.html" %}
{% load unicorn %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <nav class="p-6 bg-gray-900 text-white flex justify-between">
        <div>
            <h1 class="text-xl font-medium">Document Search</h1>
        </div>
        <div class="flex space-x-4">
            <div>LOGIN</div>
            <div>REGISTER</div>
        </div>
    </nav>

    <main class="bg-gray-800 text-white h-screen">
        <div class="grid grid-cols-4 h-full">
            <div class="col-span-1 px-4 py-20 flex justify-center">
                <div class="w-full">
                    <h2 class="text-2xl font-medium mb-3">Your documents</h2>
                    <small>Upload your text documents</small>
                    <div class="bg-black p-4 mt-2 rounded-md">
                        <p>Drag and drop directory</p>
                        <p class="text-gray-400 text-xs">Limit 50 mb</p>
                        {#                        {% unicorn "uploadfiles" %}#}
                        <form action="/" method="post" enctype="multipart/form-data" id="file-upload-form">
                            {% csrf_token %}
                            <input type="file" name="inpFile" id="inpFile">
                            <button type="submit" class="bg-gray-700 text-sm p-3 rounded-md">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-span-3 px-8 py-20 bg-black flex justify-center">
                <div class="w-3/4">
                    <div class="flex space-x-2 items-center">
                        <h1 class="text-4xl font-bold">Chat with multiple documents</h1>

                    </div>
                    <p class="mt-6">Ask a question about your documents:</p>
                    {% unicorn "llm" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        const myForm = document.getElementById('file-upload-form');
        const inpFile = document.getElementById('inpFile');

        myForm.addEventListener('submit', e => {
            e.preventDefault();
            const formData = new FormData();
            formData.append('file', inpFile.files[0]);
            console.log(formData);
            fetch('/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                }
            })
                .then(response => response.json())
                .then(data => {

                });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            console.log(cookieValue);
            return cookieValue;
        }
    </script>
{% endblock %}