{% extends "base.html" %}
{% load unicorn %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <nav class="p-6 bg-gray-900 text-white flex justify-between">
        <div>
            <h1 class="text-xl font-medium">Document Search</h1>
        </div>
        <div class="flex space-x-4">
            <div>LOGIN</div>
            <div>REGISTER</div>
        </div>
    </nav>

    <main class="bg-gray-800 text-white min-h-screen">
        <div class="grid grid-cols-6 min-h-screen">
            <div class="col-span-2 px-4 py-20 justify-center">
                <div class="w-full">
                    <h2 class="text-2xl font-medium mb-3">Your documents</h2>
                    <small>Upload your text documents</small>
                    <div class="bg-black p-4 mt-2 rounded-md">
                        <p>Drag and drop directory</p>
                        <p class="text-gray-400 text-xs">Limit 50 mb</p>
                        <form x-data="{open: false}" action="/" method="post" enctype="multipart/form-data"
                              id="file-upload-form" class="mt-4">
                            {% csrf_token %}
                            <input x-on:change="open = true" class="text-sm" type="file" name="inpFile" id="inpFile"
                                   multiple webkitdirectory="true" directory="true">
                            <button x-show="open" type="submit" class="bg-gray-700 text-sm py-2 px-3 rounded-md mt-2">
                                Upload
                            </button>
                        </form>
                    </div>
                </div>
                <div id="show-uploaded-directory" class="w-full mt-14 overflow-x-visible">

                </div>
            </div>
            <div class="col-span-4 px-8 py-20 bg-black flex justify-center">
                <div class="w-3/4">
                    <div class="flex space-x-2 items-center">
                        <h1 class="text-4xl font-bold">Chat with multiple documents</h1>

                    </div>
                    <p class="mt-6">Ask a question about your documents:</p>
                    {% unicorn "llm" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        const myForm = document.getElementById('file-upload-form');
        const inpFile = document.getElementById('inpFile');

        myForm.addEventListener('submit', e => {
            e.preventDefault();
            const formData = new FormData();

            Array.from(inpFile.files).forEach(function (file, index) {
                const newFilename = file.webkitRelativePath;
                const modifiedPath = newFilename.replace(/\//g, '___');
                const newFile = new File([file], modifiedPath, {type: file.type});
                formData.append('file_' + index, newFile);
            });
            fetch('/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                }
            })
                .then(response => response.json())
                .then(data => {
                    const directoryTree = document.getElementById('show-uploaded-directory');
                    GetDirectoryTree(directoryTree, data['directory']);
                });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function GetDirectoryTree(container, data) {
            const ul = document.createElement('ul');
            for (const key of [Object.keys(data)[0]]) {
                const li = document.createElement('li');
                li.className = "font-bold"
                li.textContent = key;
                ul.appendChild(li);
                getUlForDict(data, key, ul, 4);
            }
            container.appendChild(ul);
            return container;
        }

        function getUlForDict(data, key, ul, p) {
            data[key].forEach(function (item) {
                if (data.hasOwnProperty(item)) {
                    const li = document.createElement('li');
                    li.className = "font-bold ps-" + p;
                    li.textContent = item;
                    ul.appendChild(li);
                    getUlForDict(data, item, ul, p+4);
                } else {
                    const li = document.createElement('li');
                    li.className = "ps-" + p;
                    li.textContent = item;
                    ul.appendChild(li);
                }
            });
        }

    </script>
{% endblock %}