{% extends "base.html" %}
{% load unicorn %}

{% block title %}Home Page{% endblock %}

{% block content %}

    {% include "components/navbar.html" %}

    {% if not user.is_authenticated %}
        <nav class="p-1 bg-gray-700 text-white flex justify-center text-sm font-medium">
            <div>Login/Register to start</div>
        </nav>
    {% endif %}

    <main class="bg-gray-800 text-white min-h-screen">
        {% if user.is_authenticated %}
            {% unicorn "documents" %}
        {% endif %}
    </main>

{% endblock %}

{% block scripts %}
    <script>
        const myForm = document.getElementById('file-upload-form');
        const inpFile = document.getElementById('inpFile');

        function expand(element) {
            const directoryTree = $(element).closest(".directory").find('.show-uploaded-directory')[0];
            if ($(directoryTree).hasClass('collapsed')) {
                if ($(element).text('Expand')) {
                    $(element).text('Collapse');
                }
                $(directoryTree).addClass('expanded').addClass('mt-4').removeClass('collapsed');
                fetch('/fetch_directory_tree/?directory_id=' + $(element).data('directory'))
                    .then(response => response.json())
                    .then(data => {
                        GetDirectoryTree(directoryTree, data['directory']);
                    })
                    .catch(error => {
                        // Handle errors
                        console.error('Error fetching data:', error);
                    });
            } else {
                $(directoryTree).text('').addClass('collapsed').removeClass('expanded').removeClass('mt-4');
                if ($(element).text('Collapse')) {
                    $(element).text('Expand');
                }
            }
        }


        myForm.addEventListener('submit', e => {
            e.preventDefault();
            $(myForm).find('#upload-spinner').show();
            const formData = new FormData();

            Array.from(inpFile.files).forEach(function (file, index) {
                const newFilename = file.webkitRelativePath;
                const modifiedPath = newFilename.replace(/\//g, '___');
                const newFile = new File([file], modifiedPath, {type: file.type});
                formData.append('file_' + index, newFile);
            });
            fetch('/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                }
            })
                .then(response => response.json())
                .then(data => {
                    $('#process-new-directory').click();
                    console.log($('.expand-directory-btn').length);
                });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function GetDirectoryTree(container, data) {
            const ul = document.createElement('ul');
            for (const key of [Object.keys(data)[0]]) {
                const li = document.createElement('li');
                li.className = "font-bold"
                li.textContent = key;
                ul.appendChild(li);
                getUlForDict(data, key, ul, 4);
            }
            container.appendChild(ul);
            return container;
        }

        function getUlForDict(data, key, ul, p) {
            data[key].forEach(function (item) {
                if (data.hasOwnProperty(item)) {
                    const li = document.createElement('li');
                    li.className = "font-bold ps-" + p;
                    li.textContent = item;
                    ul.appendChild(li);
                    getUlForDict(data, item, ul, p + 4);
                } else {
                    const li = document.createElement('li');
                    li.className = "ps-" + p;
                    li.textContent = item;
                    ul.appendChild(li);
                }
            });
        }

    </script>
{% endblock %}