<div class="grid grid-cols-4">


    <div class="col-span-1 px-4 justify-center h-[calc(100vh-120px)] overflow-y-auto">

        <div class="w-full pt-6">

            {% include "components/upload-new-directory.html" %}

            {% include "components/show-uploaded-directories.html" %}

            {% include "components/change-similarity-threshold.html" %}

        </div>
    </div>


    <div id="chat" class="col-span-3 px-8 bg-black flex justify-center h-screen overflow-y-auto {% if not selected_directory.chat_history.chat_history %}items-center{% endif %}">

        <div class="relative w-full text-center">

            {% include "components/greeting-message.html" %}

            {% if selected_directory %}

                {% include "components/chat-history.html" %}

            {% endif %}

            {% include "components/user-question-input.html" %}

        </div>

    </div>

</div>

