<div>
    {% if not user.is_authenticated %}
        <div x-data="{register_show: false, register_btn_show: true}" class="pe-8" @click.outside="register_btn_show=true, register_show=false">
            <a x-show="register_btn_show" href="" x-on:click.prevent="register_show=!register_show, register_btn_show=!register_show" class="font-bold text-sm">REGISTER</a>
            <div x-show="register_show">
                <form action="" method="post" unicorn:submit.prevent="register">
                    <input type="text" unicorn:model="username" class="bg-black rounded-lg text-white text-sm py-1 px-2"
                           placeholder="username"/>
                    <input type="email" unicorn:model="email" class="bg-black rounded-lg text-white text-sm py-1 px-2"
                           placeholder="email"/>
                    <input type="password" unicorn:model="password" class="bg-black rounded-lg text-white text-sm py-1 px-2"
                           placeholder="password"/>
                    <button type="submit" class="bg-gray-700 text-white text-xs rounded-md py-1 px-2">register</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>
