<div class="text-md font-bold rounded-lg p-1 fixed w-72 bottom-4 mb-3">

    <div class="flex items-center justify-between">

        <div class="relative flex items-center max-w-[7rem]">

            <button type="button" id="decrement-button" unicorn:click.prevent="decrement"
                    class="rotate-180 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">

                {% include "components/increment-icon.html" %}

            </button>

            <input type="text" unicorn:model.defer="cutoff_score" id="cutoff_score" disabled
                   class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>

            <button type="button" id="increment-button" unicorn:click.prevent="increment"
                    class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">

                {% include "components/decrement-icon.html" %}

            </button>

        </div>

    </div>

</div>