<div class="directory bg-gray-900 text-sm rounded-md py-4 px-3 mb-3 {% if directory.id == selected_directory.id %}border-2 border-gray-600{% endif %}">

    <div class="flex justify-between">

        <div class="flex space-x-2 items-center">
            {% include "components/folder.html" %}
            <div>
                {{ directory.name }}
            </div>
        </div>

        <div class="flex space-x-1">
            <button class="bg-gray-700 text-xs py-1 px-2 rounded md expand-directory-btn"
                    data-directory="{{ directory.id }}" id="expand-{{ directory.id }}"
                    onclick="expand(this)">
                Expand
            </button>

            <button class="flex items-center space-x-2 {% if directory.processed %}bg-emerald-600{% else %}bg-gray-700{% endif %} text-xs py-1 px-2 rounded md"
                    unicorn:click.prevent="update_chat_selection({{ directory.id }})" {% if not directory.processed %}onclick="disable(this)"{% endif %}
                    id="process-document-{{ directory.id }}">

                <div>
                    {% if directory.processed %}Chat{% else %}Process{% endif %}
                </div>

                {% if not directory.processed %}
                    <div unicorn:loading unicorn:target="process-document-{{ directory.id }}">
                        {% include "components/loading.html" %}
                    </div>
                {% endif %}


            </button>

        </div>

    </div>


    <div class="w-full text-emerald-600 flex justify-between font-bold text-sm" id="process-notification-{{ directory.id }}">

    </div>


    <div class="overflow-x-visible show-uploaded-directory collapsed"
         data-directory="{{ directory.id }}">
    </div>

</div>